# Assignment_20
----------------------------

#### 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 =  'This is a test of the emergency text system,' 
    
file = open('test.txt', 'w')
file.write(test1)

file.close()

#### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
with open("test.txt", "r") as file:
    test2 = file.read()

print(test1 == test2)

True

This code opens the file "test.txt" in read mode ("r") using the with statement, reads its contents into the variable test2 using the read method, and then prints the result of comparing test1 and test2 using the equality operator ==.

If test1 and the contents of the file "test.txt" are the same, the output will be True. If they are different, the output will be False.

#### 3. Create a CSV file called books.csv by using these lines:
##### title,author,year
##### The Weirdstone of Brisingamen,Alan Garner,1960
##### Perdido Street Station,China Miéville,2000
##### Thud!,Terry Pratchett,2005
##### The Spellman Files,Lisa Lutz,2007
##### Small Gods,Terry Pratchett,1992

In [3]:
import csv

rows =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]

with open('books.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)

the csv module to write a CSV file named "books.csv". The with statement is used to open the file in write mode ("w") and ensure that it is properly closed. The csv.writer function is then used to create a writer object, which is used to write the contents of the CSV file. The writerow method is used to write a row of data as a list, and the writerows method is used to write multiple rows at once as a list of lists.

#### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [4]:
import sqlite3
conn = sqlite3.connect('books.db')
c = conn.cursor()
c.execute('DROP TABLE IF EXISTS books')
c.execute('create table books(title varchar(20),author varchar(20), year int)')
conn.commit()

#### 5. Read books.csv and insert its data into the book table.

In [5]:
import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', conn, if_exists='append', index = False)

5

#### 6. Select and print the title column from the book table in alphabetical order.

In [6]:
c.execute('select title from books order by title asc')
print(c.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

#### 7. From the book table, select and print all columns in the order of publication.

In [7]:
c.execute('select title, author,year from books order by year')

df = pd.DataFrame(c.fetchall(), columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

#### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [8]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

#### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [ ]:
pip install redis

In [ ]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

#### 10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test','count', 3)