In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel('Agent_Login_Report (4).xls')
df2 = pd.read_excel('AgentPerformance (1).xlsx')

C:\Users\sssun\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:214: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
df1.columns = df1.loc[1]
df3 = df1.drop(df1.index[0:2])
df2.columns = df2.loc[0]
df4 = df2.drop(0)

In [4]:
df3

1    SL No               Agent       Date   Login Time  Logout Time   Duration
2        1  Shivananda Sonwane  30-Jul-22  03:35:29 PM  05:39:39 PM   02:04:10
3        2      Khushboo Priya  30-Jul-22  03:06:59 PM  03:07:16 PM   00:00:17
4        3       Nandani Gupta  30-Jul-22  03:04:24 PM  05:31:07 PM   02:26:42
5        4     Hrisikesh Neogi  30-Jul-22  02:34:29 PM  03:19:35 PM   00:45:06
6        5             Mukesh   30-Jul-22  02:03:15 PM  03:11:52 PM   01:08:36
...    ...                 ...        ...          ...          ...        ...
997    996        Manjunatha A  20-Jul-22  09:03:51 AM  03:02:28 PM   05:58:37
998    997            Bharath   20-Jul-22  09:00:49 AM  03:01:32 PM   06:00:43
999    998      Khushboo Priya  20-Jul-22  08:59:20 AM  02:26:55 PM   05:27:34
1000   999        Nishtha Jain  20-Jul-22  08:43:55 AM  02:00:33 PM   05:16:38
1001  1000              Tarun   01-Jul-22  01:52:47 AM  12:01:07 PM  514:08:20

[1000 rows x 6 columns]

In [5]:
df4

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
1,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9
2,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7
3,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11
4,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7
5,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2156,2156,2022-07-01,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.0,0
2157,2157,2022-07-01,Nitin M,0,00:00:00,00:00:00,0.0,0
2158,2158,2022-07-01,Vivek,0,00:00:00,00:00:00,0.0,0
2159,2159,2022-07-01,Ayushi Mishra,0,00:00:00,00:00:00,0.0,0
2160,2160,2022-07-01,Chaitra K Hiremath,0,00:00:00,00:00:00,0.0,0

In [6]:
df4['Average Rating'] = df4['Average Rating'].astype(float)
df4['Total Chats'] = df4['Total Chats'].astype(int)
df4['Total Feedback'] = df4['Total Feedback'].astype(int)
df4['Date'] = pd.to_datetime(df4['Date'])

##### 1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave

In [8]:
df4['Week'] = df4['Date'].dt.isocalendar().week

In [20]:
df4[(df4['Total Chats'] > 0)].groupby(['Agent Name','Week'])['Average Rating'].mean().to_frame()

                    Average Rating
Agent Name    Week
Aditya Shinde 26             3.850
              27             4.516
              28             4.746
Aditya_iot    27             4.315
              28             4.100
...                            ...
Wasim         30             4.298
Zeeshan       27             4.575
              28             4.128
              29             4.452
              30             4.140

[182 rows x 1 columns]

##### 2 .Total working days for each agents

In [27]:
df4[(df4['Total Chats'] > 0)]['Agent Name'].value_counts()

Agent Name
Shivananda Sonwane        28
Khushboo Priya            26
Boktiar Ahmed Bappy       26
Manjunatha A              25
Jawala Prakash            25
Ayushi Mishra             24
Madhulika G               24
Ishawant Kumar            24
Sanjeev Kumar             23
Nishtha Jain              23
Shivan K                  22
Prerna Singh              22
Shubham Sharma            21
Jaydeep Dixit             21
Rishav Dash               21
Deepranjan Gupta          21
Nandani Gupta             21
Hrisikesh Neogi           21
Maitry                    20
Harikrishnan Shaji        19
Bharath                   19
Mahesh Sarade             18
Mithun S                  18
Prabir Kumar Satapathy    17
Prateek _iot              17
Aditya_iot                17
Swati                     17
Wasim                     16
Zeeshan                   16
Ameya Jain                15
Aravind                   14
Saikumarreddy N           13
Aditya Shinde             12
Sowmiya Sivakumar          9
Jayant Kumar               8
Shiva Srivastava           7
Anirudh                    7
Chaitra K Hiremath         6
Muskan Garg                5
Vivek                      5
Saurabh Shukla             4
Mukesh Rao                 3
Sandipan Saha              3
Ankitjha                   3
Maneesh                    3
Ashad Nasim                2
Anurag Tiwari              2
Sudhanshu Kumar            2
Suraj S Bilgi              2
Mukesh                     2
Samprit                    1
Shivan_S                   1
Dibyanshu                  1
Hitesh Choudhary           1
Tarun                      1
Mahak                      1
dtype: int64

#####  3. Total query that they have taken

In [77]:
df4.groupby('Agent Name')['Total Chats'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    277
Aditya_iot       231
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             44
Wasim            433
Zeeshan          542
Name: Total Chats, Length: 70, dtype: int32

##### 4. total Feedback that they have received

In [83]:
df4.groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    153
Aditya_iot       131
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             20
Wasim            284
Zeeshan          335
Name: Total Feedback, Length: 70, dtype: int32

##### 5. a agent name who have average rating between 3.5 to 4

In [37]:
df4[(df4['Average Rating'] >= 3.5) & (df4['Average Rating'] < 4)]['Agent Name'].drop_duplicates()

array(['Swati ', 'Manjunatha A', 'Prateek _iot ', 'Nandani Gupta',
       'Jaydeep Dixit', 'Mahesh Sarade', 'Zeeshan ', 'Hrisikesh Neogi',
       'Khushboo Priya', 'Wasim ', 'Jawala Prakash', 'Nishtha Jain',
       'Prerna Singh', 'Boktiar Ahmed Bappy', 'Muskan Garg',
       'Harikrishnan Shaji', 'Deepranjan Gupta', 'Shivan K',
       'Madhulika G', 'Rishav Dash', 'Maitry ', 'Mithun S', 'Aditya_iot ',
       'Ishawant Kumar', 'Ayushi Mishra', 'Shivananda Sonwane',
       'Sandipan Saha', 'Anirudh ', 'Jayant Kumar', 'Anurag Tiwari',
       'Saurabh Shukla', 'Aditya Shinde'], dtype=object)

##### 6 . Agent name who have rating lesss then 3.5

In [34]:
df4[(df4['Average Rating'] <= 3.5)]['Agent Name'].unique()

array(['Nandani Gupta', 'Hitesh Choudhary', 'Sanjeevan ', 'Anirudh ',
       'Shiva Srivastava', 'Dibyanshu ', 'Ashish ', 'Uday Mishra',
       'Aditya Shinde', 'Jayant Kumar', 'Aditya_iot ',
       'Prabir Kumar Satapathy', 'Saurabh Shukla', 'Wasim ', 'Samprit ',
       'Maitry ', 'Abhishek ', 'Rishav Dash', 'Aravind ', 'Tarun ',
       'Muskan Garg', 'Ankit Sharma', 'Bharath ', 'Ashad Nasim',
       'Vasanth P', 'Aditya ', 'Amersh ', 'Sandipan Saha',
       'Ineuron Intelligence ', 'Mahak ', 'Mukesh Rao ', 'Zeeshan ',
       'Anurag Tiwari', 'Ankitjha ', 'Saif Khan', 'Jaydeep Dixit',
       'Sudhanshu Kumar', 'Maneesh ', 'Hyder Abbas', 'Rohan ', 'Vivek ',
       'Nitin M', 'Shivan_S ', 'Spuri ', 'Ayushi Mishra',
       'Chaitra K Hiremath', 'Prateek _iot ', 'Jawala Prakash',
       'Sowmiya Sivakumar', 'Nishtha Jain', 'Swati ', 'Khushboo Priya',
       'Shubham Sharma', 'Manjunatha A', 'Ameya Jain',
       'Harikrishnan Shaji', 'Saikumarreddy N', 'Sanjeev Kumar',
       'Mukesh ', 'Hrisikesh Neogi', 'Mithun S', 'Prerna Singh',
       'Suraj S Bilgi', 'Shivan K', 'Mahesh Sarade', 'Madhulika G',
       'Boktiar Ahmed Bappy', 'Deepranjan Gupta', 'Ishawant Kumar',
       'Shivananda Sonwane'], dtype=object)

#### 7 . agent name who have rating more then 4.5

In [35]:
df4[(df4['Average Rating'] > 4.5)]['Agent Name'].unique()

array(['Ameya Jain', 'Mahesh Sarade', 'Mukesh ', 'Saikumarreddy N',
       'Sanjeev Kumar', 'Harikrishnan Shaji', 'Sowmiya Sivakumar',
       'Boktiar Ahmed Bappy', 'Shivananda Sonwane', 'Ishawant Kumar',
       'Deepranjan Gupta', 'Muskan Garg', 'Aditya_iot ',
       'Chaitra K Hiremath', 'Suraj S Bilgi', 'Mithun S', 'Wasim ',
       'Bharath ', 'Jawala Prakash', 'Ayushi Mishra', 'Prateek _iot ',
       'Nandani Gupta', 'Khushboo Priya', 'Manjunatha A', 'Maitry ',
       'Jaydeep Dixit', 'Madhulika G', 'Prerna Singh', 'Shivan K',
       'Shiva Srivastava', 'Swati ', 'Shubham Sharma', 'Aravind ',
       'Zeeshan ', 'Hrisikesh Neogi', 'Prabir Kumar Satapathy',
       'Rishav Dash', 'Sudhanshu Kumar', 'Aditya Shinde', 'Sandipan Saha',
       'Nishtha Jain', 'Saurabh Shukla', 'Anirudh ', 'Jayant Kumar',
       'Mukesh Rao ', 'Vivek ', 'Ankitjha '], dtype=object)

##### 8 . how many feedaback agents have received more then 4.5 average

In [41]:
df4[(df4['Average Rating'] > 4.5)].groupby('Agent Name')['Total Feedback'].agg(sum)

Agent Name
Aditya Shinde              73
Aditya_iot                 43
Ameya Jain                150
Anirudh                     2
Ankitjha                    1
Aravind                   178
Ayushi Mishra              75
Bharath                   231
Boktiar Ahmed Bappy        52
Chaitra K Hiremath          5
Deepranjan Gupta           83
Harikrishnan Shaji         80
Hrisikesh Neogi           183
Ishawant Kumar             79
Jawala Prakash             33
Jayant Kumar                7
Jaydeep Dixit             179
Khushboo Priya            134
Madhulika G                67
Mahesh Sarade              46
Maitry                     81
Manjunatha A              132
Mithun S                   93
Mukesh                     17
Mukesh Rao                  1
Muskan Garg                14
Nandani Gupta              91
Nishtha Jain               18
Prabir Kumar Satapathy     53
Prateek _iot               54
Prerna Singh               82
Rishav Dash                27
Saikumarreddy N           184
Sandipan Saha               1
Sanjeev Kumar             164
Saurabh Shukla              3
Shiva Srivastava            2
Shivan K                  130
Shivananda Sonwane        154
Shubham Sharma            155
Sowmiya Sivakumar          16
Sudhanshu Kumar             2
Suraj S Bilgi               4
Swati                     103
Vivek                       3
Wasim                     156
Zeeshan                    48
Name: Total Feedback, dtype: int32

##### 9 . average weekly response time for each agent

In [51]:
df4['Average Response Time'] = pd.to_datetime(df4['Average Response Time'], infer_datetime_format= True)
df4.groupby(['Agent Name','Week'])['Average Response Time'].mean()

Agent Name  Week
Abhishek    26     2022-08-13 00:00:00.000000000
            27     2022-08-13 00:00:00.000000000
            28     2022-08-13 00:00:00.000000000
            29     2022-08-13 00:00:00.000000000
            30     2022-08-13 00:00:00.000000000
                                ...
Zeeshan     26     2022-08-13 00:00:00.000000000
            27     2022-08-13 00:00:23.571428608
            28     2022-08-13 00:02:03.428571392
            29     2022-08-13 00:01:02.857142784
            30     2022-08-13 00:01:03.833333504
Name: Average Response Time, Length: 350, dtype: datetime64[ns]

##### 10 . average weekely resolution time for each agents

In [53]:
df4['Average Resolution Time'] = pd.to_datetime(df4['Average Resolution Time'], infer_datetime_format= True)
df4.groupby(['Agent Name','Week'])['Average Resolution Time'].mean()

Agent Name  Week
Abhishek    26     2022-08-13 00:00:00.000000000
            27     2022-08-13 00:00:00.000000000
            28     2022-08-13 00:00:00.000000000
            29     2022-08-13 00:00:00.000000000
            30     2022-08-13 00:00:00.000000000
                                ...
Zeeshan     26     2022-08-13 00:00:00.000000000
            27     2022-08-13 00:05:23.000000000
            28     2022-08-13 00:16:24.285714176
            29     2022-08-13 00:13:14.285714176
            30     2022-08-13 00:12:53.500000000
Name: Average Resolution Time, Length: 350, dtype: datetime64[ns]

##### 11 . list of all agents name

In [14]:
df4['Agent Name'].unique()

array(['Prerna Singh', 'Nandani Gupta', 'Ameya Jain', 'Mahesh Sarade',
       'Swati ', 'Mukesh ', 'Saikumarreddy N', 'Sanjeev Kumar',
       'Shubham Sharma', 'Nishtha Jain', 'Manjunatha A', 'Khushboo Priya',
       'Suraj S Bilgi', 'Harikrishnan Shaji', 'Hrisikesh Neogi',
       'Shivan K', 'Sowmiya Sivakumar', 'Madhulika G', 'Mithun S',
       'Hitesh Choudhary', 'Sanjeevan ', 'Anirudh ', 'Shiva Srivastava',
       'Dibyanshu ', 'Ashish ', 'Uday Mishra', 'Aditya Shinde',
       'Jayant Kumar', 'Aditya_iot ', 'Prabir Kumar Satapathy',
       'Saurabh Shukla', 'Wasim ', 'Samprit ', 'Maitry ', 'Abhishek ',
       'Rishav Dash', 'Aravind ', 'Tarun ', 'Muskan Garg', 'Ankit Sharma',
       'Bharath ', 'Ashad Nasim', 'Vasanth P', 'Aditya ', 'Amersh ',
       'Sandipan Saha', 'Ineuron Intelligence ', 'Mahak ', 'Mukesh Rao ',
       'Zeeshan ', 'Anurag Tiwari', 'Ankitjha ', 'Saif Khan',
       'Jaydeep Dixit', 'Sudhanshu Kumar', 'Maneesh ', 'Hyder Abbas',
       'Rohan ', 'Vivek ', 'Nitin M', 'Shivan_S ', 'Spuri ',
       'Ayushi Mishra', 'Chaitra K Hiremath', 'Prateek _iot ',
       'Boktiar Ahmed Bappy', 'Shivananda Sonwane', 'Ishawant Kumar',
       'Deepranjan Gupta', 'Jawala Prakash'], dtype=object)

##### 12 . percentage of chat on which they have received a feedback

In [58]:
df4['percentage_of_chat'] = df4['Total Chats']/df4['Total Chats'].sum()
df4[['Agent Name','Total Chats','percentage_of_chat','Total Feedback']]

0             Agent Name  Total Chats  percentage_of_chat  Total Feedback
1           Prerna Singh           11            0.000747               9
2          Nandani Gupta           11            0.000747               7
3             Ameya Jain           14            0.000951              11
4          Mahesh Sarade           14            0.000951               7
5                 Swati            14            0.000951               6
...                  ...          ...                 ...             ...
2156   Sowmiya Sivakumar            0            0.000000               0
2157             Nitin M            0            0.000000               0
2158              Vivek             0            0.000000               0
2159       Ayushi Mishra            0            0.000000               0
2160  Chaitra K Hiremath            0            0.000000               0

[2160 rows x 4 columns]

##### 13 . Total contributation hour for each and every agents weekly basis

In [60]:
df3['Week']=pd.to_datetime(df3['Date']).dt.isocalendar().week
df3['Duration'] =pd.to_timedelta(df3['Duration'])
df3.groupby(['Agent','Week'])['Duration'].mean()

Agent          Week
Aditya Shinde  30               0 days 00:02:10
Aditya_iot     29     0 days 02:01:54.333333333
               30        0 days 01:36:21.500000
Amersh         30        0 days 00:45:57.500000
Ameya Jain     29     0 days 03:26:25.571428571
                                 ...
Tarun          26              21 days 10:08:20
Wasim          29     0 days 02:10:50.222222222
               30     0 days 02:35:44.818181818
Zeeshan        29        0 days 04:04:16.500000
               30               0 days 06:09:55
Name: Duration, Length: 89, dtype: timedelta64[ns]

##### 14. total percentage of active hour for a month

In [64]:
df3['Month']=pd.to_datetime(df3['Date']).dt.month
df3['Duration'] =pd.to_timedelta(df3['Duration'])
df3.groupby(['Agent','Month'])['Duration'].mean()

Agent                   Month
Aditya Shinde           7                 0 days 00:02:10
Aditya_iot              7       0 days 01:44:52.444444444
Amersh                  7          0 days 00:45:57.500000
Ameya Jain              7          0 days 04:12:27.200000
Ankitjha                7          0 days 00:34:00.250000
Anurag Tiwari           7       0 days 00:04:30.378378378
Aravind                 7          0 days 02:25:47.700000
Ayushi Mishra           7       0 days 02:07:04.333333333
Bharath                 7       0 days 05:20:30.666666666
Boktiar Ahmed Bappy     7       0 days 02:22:07.470588235
Chaitra K Hiremath      7       0 days 02:38:25.538461538
Deepranjan Gupta        7       0 days 01:49:56.396551724
Dibyanshu               7          0 days 00:15:10.312500
Harikrishnan Shaji      7       0 days 02:20:07.521739130
Hrisikesh Neogi         7       0 days 01:33:21.270270270
Hyder Abbas             7          0 days 00:11:38.500000
Ineuron Intelligence    7                 0 days 01:26:55
Ishawant Kumar          7       0 days 01:03:24.163265306
Jawala Prakash          7          0 days 02:54:00.500000
Jaydeep Dixit           7       0 days 05:26:24.181818181
Khushboo Priya          7       0 days 02:25:11.722222222
Madhulika G             7       0 days 02:42:33.941176470
Mahesh Sarade           7       0 days 01:11:32.194444444
Maitry                  7          0 days 06:11:20.400000
Manjunatha A            7          0 days 05:09:33.625000
Mithun S                7       0 days 03:13:36.071428571
Mukesh                  7                 0 days 02:58:06
Muskan Garg             7       0 days 01:26:40.666666666
Nandani Gupta           7       0 days 03:39:07.272727272
Nishtha Jain            7       0 days 02:26:10.555555555
Nitin M                 7                 0 days 00:47:56
Prabir Kumar Satapathy  7       0 days 01:17:01.461538461
Prateek _iot            7       0 days 01:05:00.294117647
Prerna Singh            7       0 days 02:32:23.111111111
Rishav Dash             7       0 days 03:28:52.666666666
Saikumarreddy N         7          0 days 04:18:49.500000
Sanjeev Kumar           7          0 days 02:14:03.700000
Saurabh Shukla          7          0 days 00:24:59.675000
Shiva Srivastava        7          0 days 00:59:58.600000
Shivan K                7       0 days 01:00:10.222222222
Shivananda Sonwane      7       0 days 03:17:09.066666666
Shubham Sharma          7       0 days 01:32:13.542857142
Sowmiya Sivakumar       7          0 days 01:51:53.125000
Sudhanshu Kumar         7       0 days 04:12:10.181818181
Suraj S Bilgi           7          0 days 02:30:42.600000
Swati                   7          0 days 05:00:00.800000
Tarun                   7                21 days 10:08:20
Wasim                   7          0 days 02:24:32.250000
Zeeshan                 7          0 days 04:54:31.900000
Name: Duration, dtype: timedelta64[ns]